     {outline:1px solid red;}
    html {box-sizing:border-box;}
    *, *::before, *::after {box-sizing:inherit; margin:0; padding:0;}

/* STRUCTURE */
    html {font-family:sans-serif; }
    #wrapper {width:100%; max-width:800px; margin:0 auto; padding:0;}
    .flexbox {display:flex; gap:2rem;}
    header {margin-bottom:2rem; padding:0;}
    article, footer {padding:0 2rem 0 2rem; font-size:.9rem;}
    .one {width:35%; padding:0;}
    .two {width:65%; padding:0 2rem 0 0;}
    header .one, footer {color:white; background-color:oklch(0.85 0.4 270);}
    figure {margin:0;}
    img {width:100%;}
    footer {margin-top:2rem; font-size:.6rem;}

/* TYPOGRAPHY */
    h1 {color:white; font-size:1.5rem; padding:0 1rem;}
    h2 {margin-bottom:1rem;}
    h4 {font-size:1.15rem;}
    h5 {font-size:1rem;}
    nav ul {list-style-type:none; margin:1.5rem 0 0 0; padding:0;}
    nav li {margin:0; padding:0;}
    p {margin:0 0 1rem 0; line-height:1rem;}
    footer p {padding:.2rem;}

/* LINKS */
    nav a:link, nav a:visited {text-decoration:none; color:black;}
    nav a:hover, nav a:focus, nav a:active {color:red;}